.dub
docs.json
__dummy.html
docs/
/recontig
recontig.so
recontig.dylib
recontig.dll
recontig.a
recontig.lib
recontig-test-*
*.exe
*.o
*.obj
*.lst
*.vcf
*.sam
*.txt
*.bed
dub.selections.json
test/
build/
source/recontig/_version.d
.Rproj.user
.snakemake
.RData
.Rhistory
data.Rproj
manuscript/data/fastas
manuscript/data/mapping_comparison.tsv